.CardContainer>.CardImageContainer>a>.Play {
  display: none;
  background: transparent;
  
}


.CardContainer .CardImageContainer a .CardImage:hover+.Play {
  display: block;
  
}

/* .CardContainer .CardImageContainer a .CardImage {
  max-height: 160px;
  min-height: 160px;
}
 */


