@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Exo 2", sans-serif;
}

div.Layout {
  height: 100vh;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}



.p {
  font-size: laxx-large;
}