@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Exo 2", sans-serif;
}

div.Layout {
  height: 100vh;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.CardImage {
  min-height: 160px;
  max-height: 160px;
 
}

@media screen and (min-width: 1280px) {
  .CardImage {
    height: auto;
  }
}

@media screen and (max-width: 1280px) {
  .CardImage {
    height: auto
  }
}


.Play {
  display: flex;
  position: absolute;
  bottom: 45%;
  left: 40%;
  justify-content: center;
  align-content: center;
}

.Homeserach {
  max-width: 320px;
  min-width: 320px;
  background: #2A2C34;
}

.CardContainer:hover{
 /* box-shadow: 0px 1px 10px #377DFF;*/
}


@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translate(0px, 15px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.CardContainer{
  margin: 2px;
  opacity: 0;
  transform: translate(0px, 10px);
  animation: fadeSlideUp 0.3s forwards;
  
}
.MyGirdList {
  display: grid;
  margin-right: 5px;
  margin-left: 5px;
  grid-row-start: swap;
  grid-template-columns:repeat(3, 1fr);
}
/* Initial state, before animation */
.Anititle {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 5px;
  width: 100%;
  background: linear-gradient(to top, #000000e4 15% ,#00000000 80%);
  border-radius: 7px;
  text-shadow: 0px 1px 10px #000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Limits text to 4 lines */
  overflow: hidden;
}
.type {
  position: absolute;
  top: 0;
  bottom: 0;
  color: white;
  padding: 4px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: bold;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 1px 10px #377DFF;
  height: fit-content;
  width: fit-content;
  background: #377DFF;
}
.year {
  position: absolute;
  top: 20%;
  bottom: 0;
  color: white;
  padding: 4px;
  padding-right: 5px;
  font-size: 12px;
  font-weight: bold;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 10px;
  box-shadow: 0px 1px 10px #37d0ff;
  height: fit-content;
  width: fit-content;
  background: linear-gradient(to left, #37d0ff, #377DFF);
}
/* The Design Of Bottom Sheet */
.react-modal-sheet-content {
  background: #12141D;
  color: white;
}
.react-modal-sheet-header {
  background: #12141D;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.react-modal-sheet-container {
  max-height: 50%;
}

.Cards{
  padding-left: 10px;
  padding-right: 10px;
}
#CardBtmList{
  display: flex;
  justify-content: center;
  align-content: center; 
  font-size: 1.2rem;
  margin: 5px;
  margin-bottom:8px;
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  box-shadow: 1px 1px 20px #2a2c34c4;
  text-align: center;
  border-radius: 8px;
  background: #2A2C34;
}

#CardBtmList p{
  text-align: center;
  width: 100%;
  
}
